body {
  font-family: 'Roboto', 'sans-serif';
}

h1 {
  margin-bottom: 50px;
}

h1, h3 {
  text-align: center;
}

h3 {
  border-bottom: 1px solid black;
  padding-bottom: 7px;
}

.content {
  width: 100%;
}

.buttonContainer {
  width: 162px;
  margin: 10px auto;
}

.buttonControl {
  height: 35px;
  width: 75px;
  margin: 0 3px;
  cursor: pointer;
  outline: none;
  border: none;
  background-color: #AAA;
  color: white;
  font-weight: 500;
}

.startButton:hover {
  background-color: green;
}

.stopButton:hover {
  background-color: red;
}

.feedbackContainer {
  width: 30%;
  display: inline-block;
  margin: 1%;
  border: 1px solid black;
  height: 600px;
}

.transcriptionContainer {
  width: 60%;
  display: inline-block;
  margin: 1%;
  border: 1px solid black;
  height: 600px;
}
